/target
/src/main/resources/public/boot.html
/src/main/resources/public/js/garbage.js
/src/main/resources/public/js/index2.js
/src/main/resources/public/resources/la.jpg
/src/main/resources/public/resources/chicago.jpg
/src/main/resources/public/resources/ny.jpg
/src/main/resources/public/js/garbage.sql
bootstrap_carousel.html
src/main/resources/public/garbage
src/main/resources/public/icon/shopping-cart.svg
