.navbar {
	background-image:url('../icon/jumbo_logo.png');
	background-repeat: no-repeat;
	background-position: center;	
	background-color: #d1d1d2 !important;
	background-size: contain;
	height: 60px;
}

.container-fluid {
	margin-top: 25px;
}

.col-md-12, .col-lg-6 {
	padding-bottom: 20px;
}

body {
	background-color: #d1d1d2 !important;
}

.storeList {
	max-height: 476px;
	overflow-y: auto;
}

.bg-combo_market {
    background: url('../icon/css_sprites.png') 0px -5px;
    width: 80px;
    height: 32px;
}

.bg-pup_supermarket {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -5px -5px;
}

.bg-supermarket {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -47px -5px;
}

.storeList > .list-group > .list-group-item {
	padding-top: 0.50rem;
	padding-bottom: 0.50rem;
}

.storeList > .list-group > .list-group-item .addressName {
	font-size: 0.8rem;
	font-weight: bold;
}
.alert {
	display: none;
	background-color: #ffcc00;
	color: black;
}