.navbar {
	background-image:url('../icon/jumbo_logo2.png');
	background-repeat: no-repeat;
	background-position: center;	
	background-color: #d1d1d2 !important;
	background-size: contain;
	height: 60px;
}

.card {
	border-width: 5px;
}

.card-header {
	color: #0096d7;
	font-weight: bolder;
	font-size: 18px;
}

.container-fluid {
	margin-top: 25px;
}

.col-md-12, .col-lg-6 {
	padding-bottom: 20px;
}

.card.airports, .card.reports {
	visibility: hidden;
}

.searchAirports {
	margin-bottom: 15px;
	margin-top: 12px;
}

.displayReports {
	margin-bottom: 15px;
	margin-top: 81px;	
}

.form-group.reports {
	margin-top: 81px;
}

.carousel-item {
	background-color: red;
	height: 500px;
}

body {
	background-color: #d1d1d2 !important;
}

.btn-primary {
	background-color: #00aced !important;
	border-color: #00aced !important;
}

.storeList {
	max-height: 370px;
	overflow-y: auto;
}

.bg-combo_market {
    background: url('../icon/css_sprites.png') 0px -10px;
    width:130px;
    height: 50px;
}

.bg-pet_supermarket {
    width: 50px; height: 50px;
    background: url('../icon/css_sprites.png') -10px -10px;
}

.bg-supermarket {
    width: 50px; height: 50px;
    background: url('../icon/css_sprites.png') -80px -10px;
}

.storeList > .list-group > .list-group-item {
	padding-top: 0.50rem;
	padding-bottom: 0.50rem;
}

.alert {
	display: none;
	background-color: #ffcc00;
	color: black;
}