/* Data Tables details button*/
td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}

/* Bootstrap */
.jumbotron {
	background-image:url('../resources/logo-acme-corp.png');
	background-repeat: no-repeat;
	background-position: center;	
	background-color: #36538b !important;
	background-size: contain;
}

.card {
	border-width: 5px;
}

.card-header {
	color: #0096d7;
	font-weight: bolder;
	font-size: 18px;
}

.container-fluid {
	margin-top: 25px;
}

.col-md-12, .col-lg-6 {
	padding-bottom: 20px;
}

.card.airports, .card.reports {
	visibility: hidden;
}

.searchAirports {
	margin-bottom: 15px;
	margin-top: 12px;
}

.displayReports {
	margin-bottom: 15px;
	margin-top: 81px;	
}

.form-group.reports {
	margin-top: 81px;
}

.carousel-item {
	background-color: red;
	height: 500px;
}

body {
	background-color: #d1d1d2 !important;
}

.btn-primary {
	background-color: #00aced !important;
	border-color: #00aced !important;
}